* {
    background-color:whitesmoke;

}

#header {

    padding: 60px 30px 40px;

}

#content {
    background-color: crimson;
    text-align: center;


}

.classes {
    background-color: white;
    float: left;
    max-width: 25%;
    padding: 1px;
    text-align: center;
    margin: 0px;
    border:  2px;
    border-color: teal;
    border-style: solid;
    border-radius: 15px;

}

.classes-img {
    width: auto;
    padding: 0px;
    margin: 0px;
    border-radius: 50%;
    

    
}
.classes-img:hover {
    opacity:  0.5;
}