* {
    background-color:whitesmoke;

}

#header {

    padding: 60px 30px 40px;

}

#content {
    background-color: crimson;
    text-align: center;

}

.classes {
    background-color: white;
    float: left;
    width: 24%;
    padding: 1px;
    text-align: center;
    margin: 0px;

}

.classes-img {
    background-color: black;
    padding: 1px;
}